@font-face {
  font-family: "GreatVibes";
  src: url("../fonts/greatvibes.woff2") format("woff2"),
    url("../fonts/greatvibes.woff") format("woff");
}

@font-face {
  font-family: "AlexBrush";
  src: url("../fonts/alexbrush.woff2") format("woff2"),
    url("../fonts/alexbrush.woff") format("woff");
}

@font-face {
  font-family: "Balqis";
  src: url("../fonts/balqis.woff2") format("woff2"),
    url("../fonts/balqis.woff") format("woff");
}
