body {
  background-color: $bg-grey;
}

.page {
  max-width: 2000px;
  margin: 0 auto;
}

.container {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 1rem;
}

.bg-grey {
  background-color: $bg-grey;
}
