.travel {
  padding: $section-spacing 0 0;
  background-color: $white;
  text-align: center;
}

.travel__grey-wrap {
  background-color: $bg-grey;
  padding: 3rem 0;
}

.travel-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @include tablet-landscape {
    flex-direction: row;
  }
}

.travel-list__item {
  padding: 1.5rem 0;

  @include tablet-landscape {
    padding: 1.5rem 1rem;
  }

  &:last-of-type {
    padding: 1.5rem 0 0;

    @include tablet-landscape {
      padding: 1.5rem 1rem;
    }
  }
}

.travel-list__link {
  display: block;
  margin-top: 0.8rem;
  text-transform: uppercase;
}

.travel__locations {
  margin: 4rem 0;
}

.travel__taxis {
  margin-top: 4rem;
}
