body {
  background-color: $bg-grey;
}

.page {
  position: relative;
  max-width: 2000px;
  margin: 0 auto;
  padding: .8rem 0;
  background-color: $white;

  @include tablet-landscape {
    padding: 3rem 0 4rem;
  }
}

.page--home {
  padding-bottom: 0;
}

.container {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container--lg {
  max-width: 1300px;
}

.bg-grey {
  background-color: $bg-grey;
}
