.button {
  background-color: transparent;
  color: inherit;
  border: 1px solid #000;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  letter-spacing: $body-letter-spacing;
  cursor: pointer;

  &:disabled {
    background-color: #f4f4f1;
    border-color: #d9d9d4;
    color: #cecec9;
    cursor: not-allowed;
  }
}

.button--lg {
  padding: 1.3rem 0;
  min-width: 17rem;
  background-color: #ece8d6;
}
