.intro {
  position: relative;
  text-align: center;
  background-color: $white;
}

.intro__content {
  padding: 10rem 0 8rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2.4px;

  @include tablet-portrait {
    padding: 11rem 0 8rem;
  }

  @include tablet-landscape {
    font-size: 1.2rem;
  }
}

.intro__section {
  margin-bottom: 1rem;
}

.intro__section span {
  display: block;
}

.intro__small {
  font-size: 1em;
}

.intro__large {
  @include display-font;
  font-size: 8.5rem;
  line-height: 0.75;
  margin: 2.5rem 0 2rem;

  @include tablet-portrait {
    font-size: 10rem;
  }

  @include tablet-landscape {
    font-size: 11rem;
  }
}

.intro-info__venue {
  display: block;
  font-size: 1.5em;
  margin-top: 1rem;
}

.intro__button {
  position: relative;
  z-index: 1;
  margin-top: 1.4rem;
  font-size: 1rem;
}

.intro__leaves {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 90%;
  max-width: 300px;

  @include tablet-portrait {
    max-width: 540px;
   }

  @include tablet-landscape {
   max-width: 700px;
  }

  @include large-desktop {
    max-width: 800px;
  }
}

.intro__leaves-2 {
  position: absolute;
  bottom: -120px;
  left: 0;
  width: 90%;
  max-width: 210px;

  @include tablet-portrait {
    max-width: 340px;
    bottom: -180px;
  }

  @include tablet-landscape {
    max-width: 390px;
    bottom: -200px;
  }

  @include large-desktop {
    max-width: 520px;
    bottom: -270px;
  }
}

.intro__toole-hack {
  display: inline-block;
  margin-left: 44px;
}
