.intro {
  position: relative;
  margin: 1rem 0 4rem auto;
  text-align: center;
  background-color: $white;
}

.intro__content {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 2.4px;

  @include tablet-landscape {
    font-size: 1.2rem;
  }
}

.intro__section {
  margin-bottom: 1.25rem;
}

.intro__section span {
  display: block;
}

.intro__small {
  font-size: 1em;
}

.intro__large {
  @include display-font;
  font-size: 8.5rem;
  line-height: 0.75;
  margin: 2.5rem 0 2rem;

  @include tablet-portrait {
    font-size: 10rem;
  }

  @include tablet-landscape {
    font-size: 10.8rem;
  }

  @include large-desktop {
    font-size: 12rem;
  }
}

.intro-info__venue {
  display: block;
  font-size: 1.4em;
  margin-top: 1rem;
}

.intro__button {
  position: relative;
  z-index: 1;
  margin-top: 1.8rem;
  font-size: 1rem;
}

.intro__leaves {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  max-width: 460px;

  @include tablet-portrait {
    width: 40%;
  }

  @include large-desktop {
    max-width: 520px;
  }
}

.intro__leaves-2 {
  position: absolute;
  bottom: -7%;
  left: 0;
  width: 190px;
  max-width: 360px;

  @include tablet-portrait {
    width: 33%;
  }

  @include tablet-landscape {
    width: 35%;
    bottom: -10%;
  }

  @include large-desktop {
    max-width: 420px;
  }
}

.intro__toole-hack {
  display: inline-block;
  margin-left: 44px;
}
