.nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-color: $white;

  @include tablet-landscape {
    display: block;
    padding: 2.1rem 1rem;
  }
}

.nav__button {
  position: relative;
  z-index: 2;
  padding: 1rem;
  border: none;
  background: transparent;

  &:focus {
    outline: none;
  }

  @include tablet-landscape {
    display: none;
  }
}

.nav__button img {
  width: 32px;
  max-width: 100%;
}

.nav__list {
  max-width: 1250px;
  max-height: 0;
  overflow: hidden;
  display: none;
  margin: 0 auto;
  transition: max-height 0.2s ease-out;


  @include tablet-landscape {
    display: block;
    max-height: none;
  }
}

.nav--mobile-active .nav__list {
  display: block; 
  position: absolute;
  top: 64px;
  left: 0;
  z-index: 1;
  width: 100%;
  background: $bg-grey;
}

.nav-list {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  @include tablet-landscape {
    flex-direction: row;
    position: initial;
  }
}

.nav--mobile-active .nav-list {
  padding: 1.4rem 1.6rem;
}

.nav-list__item {
  text-align: center;

  @include tablet-landscape {
    margin-right: 2.8rem;
  }
}

.nav--mobile-active .nav-list__item {
  text-align: left;
  margin-bottom: 1.2rem;
}

.nav-list__link {
  font-size: 1.2rem;
  color: initial;

  @include tablet-landscape {
    font-size: 1rem;
  }
}

.nav-list__link.active {
  color: $primary;
}
