.rsvp-container {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.rsvp {
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  padding: 2rem 1.3rem 5rem;
  text-align: center;
  cursor: default;

  p {
    margin-bottom: 0.5rem;
  }

  @include tablet-portrait {
    width: 600px;
    padding: 2rem 2.5rem;
  }

  @include tablet-landscape {
    width: 650px;
  }
}

.rsvp--confirm {
  padding: 2rem 1.3rem 10rem;

  @include tablet-portrait {
    padding: 2rem 2.5rem;
  }
}

.rsvp__top {
  margin-bottom: 3rem;
}

.rsvp__heading {
  margin-bottom: 0.2rem;
}

.form__content--rsvp {
}

.rsvp-form-extra {
  margin-bottom: 1.4rem;
  text-align: left;
}

.rsvp-form__checkers {
  display: flex;
  flex-direction: column;

  @include tablet-landscape {
    flex-direction: row;
  }
}

.rsvp-form__checker {
  display: flex;
  align-items: center;

  label {
    cursor: pointer;
  }

  &:first-child {
    margin-bottom: 0.6rem;

    @include tablet-landscape {
      margin: 0 1rem 0 0;
    }
  }
}

.rsvp-form__checkers--vertical {
  flex-direction: column;
}

.rsvp-form__checkers--vertical .rsvp-form__checker {
  margin: 0 0 1.4rem 0;
}

.rsvp-form__checkers--vertical .rsvp-form__checker--menu {
  align-items: flex-start;
  margin-bottom: 2rem;

  &:last-child {
    margin: 0;
  }
}

.rsvp-form__radio {
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  margin: 0 0.5rem -0.25rem 0;
  cursor: pointer;
}

.rsvp-form__checker--menu .rsvp-form__radio {
  margin: 0.4rem 0.5rem 0 0;
}

.form__button-container--rsvp {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  background: #fff;

  @include tablet-landscape {
    padding: 2rem 0;
  }
}

.rsvp-form__button + .rsvp-form__button {
  margin-top: 0.8rem;
}

.rsvp-form-add {
  display: inline-block;
  margin-bottom: 1.1rem;
}

.rsvp-form-add__content {
  position: relative;
  display: flex;
  align-items: center;
  color: $placeholder-grey;
  cursor: pointer;
}

.rsvp-form-add__content span {
  padding-left: 33px;
}

.rsvp-form-add__content .rsvp-form__icon {
  top: 3px;
}

.rsvp-form-add.disabled .rsvp-form-add__content {
  cursor: pointer;
}

.rsvp-form-add.disabled .rsvp-form__icon {
  display: none;
}

.rsvp-form-add.disabled span {
  padding: 0;
}

.rsvp-form-minus {
  position: relative;
}

.rsvp-form-minus input {
  padding-left: 33px;
}

.rsvp-form__icon {
  position: absolute;
  top: -1px;
  left: 0;
  padding: 0;
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  margin-right: 0.5rem;
  cursor: pointer;
}

.rsvp-form__icon svg {
  width: 22px;
}

.rsvp-label-heading {
  display: block;
  font-size: 17px;
}

.rsvp-label-description {
  display: block;
  font-size: 14px;
}

.rsvp-form-guest-actions {
  display: flex;
}

.rsvp-form-guest-actions__item {
  margin-right: 1.3rem;
  color: #cecec9;

  &:last-child {
    margin: 0;
  }
}

.rsvp-form--guest-actions__selection {
  color: #89aea6;
  letter-spacing: $body-letter-spacing;
  cursor: pointer;
}

.dietary-info {
  font-size: 14px;
  margin-bottom: 1.4rem;
}

.rsvp-form-allergy-button {
  font-family: inherit;
  letter-spacing: inherit;
  color: #89aea6;
  cursor: pointer;
}

.allergy-guide {
  display: none;
  margin-top: 24px;
}

.allergy-guide--active {
  display: block;
}