.rsvp {
  max-width: 600px;
  max-height: 100%;
  overflow-y: scroll;
  background: #fff;
  padding: 2rem 1.3rem;
  text-align: center;
  cursor: default;

  p {
    margin-bottom: 0.5rem;
  }

  @include tablet-portrait {
    padding: 2rem;
  }

  @include tablet-landscape {
    width: 600px;
  }
}

.rsvp__heading {
  margin-bottom: 0.2rem;
}

// .rsvp-form__content {

// }

.rsvp-form__separation-wrap {
  margin: 2.5rem 0;
}

.rsvp-form__element {
  margin-bottom: 1.2rem;
  text-align: left;
}

.rsvp-form__checkers {
  display: flex;
  flex-direction: column;

  @include tablet-landscape {
    flex-direction: row;
  }
}

.rsvp-form__checker {
  display: flex;
  align-items: center;

  label {
    cursor: pointer;
  }

  &:first-child {
    margin-bottom: 0.6rem;

    @include tablet-landscape {
      margin: 0 1rem 0 0;
    }
  }
}

.rsvp-form__radio {
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  margin: 0 0.5rem -0.25rem 0;
  cursor: pointer;
}

.rsvp-form__button {
  width: 280px;
  max-width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #ece8d6;
  text-transform: uppercase;
}

.rsvp-form__validation-error {
  display: block;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: $error-red;
}
