// ONLY RSVP FORM FOR NOW
.rsvp {
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    border-radius: 100px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b2b0b0;
    border-radius: 100px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b2b0b0;
  }
}
